<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-1">
            <h4 class="p-3 mb-2 bg-transparent text-dark">マイページ</h4>
        </div>
    </div>
    <div class="row">
        <div class="d-flex flex-row m-3">
            <h4 class="font-weight-bold">登録情報</h4>
            <button type="button" class="btn btn-success ml-5">
                <%= link_to "編集する", edit_customers_path, class: "text-light text-decoration-none" %>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>氏名</td>
                        <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
                    <tr>
                    <tr>
                        <td>カナ</td>
                        <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
                    <tr>
                    <tr>
                        <td>郵便番号</td>
                        <td><%= @customer.postal_code %></td>
                    </tr>
                    <tr>
                        <td>住所</td>
                        <td><%= @customer.address %></td>
                    </tr>
                    <tr>
                        <td>電話番号</td>
                        <td><%= @customer.telephone_number %></td>
                    </tr>
                    <tr>
                        <td>メールアドレス</td>
                        <td><%= @customer.email %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex flex-row m-3">
            <h4 class="font-weight-bold">配送先</h4>
            <button type="button" class="btn btn-primary ml-5">
                <%= link_to "一覧を見る", edit_customers_path, class: "text-light text-decoration-none" %>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex flex-row m-3">
            <h4 class="font-weight-bold">注文履歴</h4>
            <button type="button" class="btn btn-primary ml-5">
                <%= link_to "一覧を見る", edit_customers_path, class: "text-light text-decoration-none" %>
            </button>
        </div>
    </div>
</div>