<div class="container">
    <div class="row">
        <div class="col-md-8 text-left">
            <h4 class="p-3 mb-2 bg-transparent text-dark">ショッピングカート</h4>
        </div>
        <div class="col-md-8 text-right">
            <button type="button" class="btn btn-danger ml-5">
                <%= link_to "カートを空にする", cart_items_destroy_all_path, class: "text-light text-decoration-none" %>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"><strong>商品名</strong></th>
                        <th scope="col"><strong>単価(税込)</strong></th>
                        <th scope="col"><strong>数量</strong></th>
                        <th scope="col"><strong>小計</strong></th>
                        <th scope="col" colspan = "1"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @cart_item.each do |cart_item| %>
                        <tr>
                            <td><%= image_tag cart_item.item.get_image %><%= cart_item.item.name %></td>
                            <td><%= cart_item.item.with_tax_price %></td>
                            <td>
                                <%= cart_item.select :amount, [1..100] %>
                                <button type="button" class="btn btn-success ml-5">
                                    <%= cart_item.submit "変更", class: "btn btn-success" %>
                                </button>
                            </td>
                            <td><%= cart_item.subtotal %></td>
                            <% @totalprice += cart_item.subtotal %>
                            <td>
                                <button type="button" class="btn btn-danger">
                                    <%= cart_item.submit "削除する", cart_items_destroy_path, class: "text-light text-decoration-none" %>
                                </button>
                            </td>
                        <tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 text-left">
            <button type="button" class="btn btn-primary ml-5">
                <%= link_to "買い物を続ける", class: "text-light text-decoration-none" %>
            </button>
        </div>
        <div class="col-md-8 text-right">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><strong>合計金額</strong></td>
                        <td><%= @totalprice %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 text-center">
            <button type="button" class="btn btn-success ml-5">
                <%= link_to "情報入力に進む", class: "text-light text-decoration-none" %>
            </button>
        </div>
        </div>
    </div>
</div>