<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-1">
            <h4 class="p-3 mb-2 bg-transparent text-dark">注文情報入力</h4>
        </div>
    </div>
    <%= form_with model: @order, url: confirm_orders_path, method: :post, local: true do |f| %>
        <div class="row">
            <div class="col-md-12 offset-md-1"><strong>支払方法</strong></div>
        </div>
        <div class="row">
            <div class="col-md-12 offset-md-2">
                <%= f.radio_button :payment, Order.payments.key(0) %>
                <%= f.label :payment_credit_card, Order.payments_i18n[:credit_card] %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 offset-md-2">
                <%= f.radio_button :payment, Order.payments.key(1) %>
                <%= f.label :payment_transfer, Order.payments_i18n[:transfer] %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 offset-md-1"><strong>お届け先</strong></div>
        </div>
        <div class="row">
            <div class="col-md-12 offset-md-2">
                <%= f.radio_button :select_address, "select_address_1" %>ご自身の住所</br>
                &emsp; 〒<%= current_customer.postal_code %> <%= current_customer.address %></br>
                &emsp; <%= current_customer.last_name + " " + current_customer.first_name %>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 offset-md-2">
                <%= f.radio_button :select_address, "select_address_2" %>登録済住所から選択</br>
                &emsp; <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 offset-md-2">
                <%= f.radio_button :select_address, "select_address_3" %>新しいお届け先</br>
            </div>
        </div>
        <div class="row mb-2">
            &emsp; <div class="col-md-3 offset-md-2">郵便番号（ハイフンなし）</div>
            <div class="col-md-3"><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></div>
        </div>
        <div class="row mb-2">
            &emsp; <div class="col-md-3 offset-md-2">住所</div>
            <div class="col-md-3"><%= f.text_field :address, :size=>"62", autofocus: true, autocomplete: "address" %></div>
        </div>
        <div class="row mb-2">
            &emsp; <div class="col-md-3 offset-md-2">宛先</div>
            <div class="col-md-3"><%= f.text_field :destination, autofocus: true, autocomplete: "destination" %></div>
        </div>
        <div class="row">
            <div class="col text-center">
                <%= f.submit "確認画面へ進む", class: "btn btn-primary"  %>
            </div>
        </div>
    <% end %>
</div>